body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 121, 191);
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #0c3953;
}

.Contents {
  position: absolute;
  top: 100px;
}

.addCard {
  color: #5e6c84;
  padding: 6px 8px;
  border-radius: 3px;
  cursor: pointer;
}

.addCard:hover {
  background-color: #ffffff67;
}

.addCardInput {
  display: inline-block;
  width: 235px;
  height: 73px;
  padding: 6px 8px;
  background-color: rgb(204, 204, 204);
  border-radius: 3px;
  position: relative;
}

.addCardInput > textarea {
  -webkit-text-size-adjust: 100%;
  user-select: none;
  unicode-bidi: isolate;
  font: inherit;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-appearance: none;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  line-height: 20px;
  outline: none;
  padding: 8px 12px;
  background-color: #fff;
  display: block;
  margin: 0;
  transition: margin 85ms ease-in, background 85ms ease-in;
  width: 100%;
  height: 54px;
  resize: none;
}

.listTitleTextarea {
  -webkit-text-size-adjust: 100%;
  user-select: all;
  white-space: nowrap;
  unicode-bidi: isolate;
  font: inherit;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-appearance: none;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  line-height: 20px;
  outline: none;
  padding: 8px 12px;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
  display: inline;
  margin: 0;
  transition: margin 85ms ease-in, background 85ms ease-in;
  width: 225px;
  resize: none;
  height: 36px;
}

.addList {
  display: inline-block;
  width: 300px;
  color: #fff;
  padding: 6px 8px;
  background-color: #ffffff3d;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 8px;
}

.addList:hover {
  background-color: #ffffff52;
}

.addListInput {
  display: inline-block;
  width: 300px;
  height: 73px;
  padding: 6px 8px;
  background-color: rgb(204, 204, 204);
  border-radius: 3px;
  position: absolute;
  top: 8px;
}

.addListInput > input {
  -webkit-text-size-adjust: 100%;
  user-select: none;
  white-space: nowrap;
  unicode-bidi: isolate;
  font: inherit;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-appearance: none;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  line-height: 20px;
  outline: none;
  padding: 8px 12px;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
  display: block;
  margin: 0;
  transition: margin 85ms ease-in, background 85ms ease-in;
  width: 100%;
}

.addListInput > button,
.addCardInput > button,
.popupBody > button,
.dialogContent button {
  -webkit-text-size-adjust: 100%;
  font: inherit;
  -webkit-appearance: none;
  outline: none;
  margin: 4px 4px 0 0;
  text-align: center;
  align-items: center;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  padding: 6px 12px;
  text-decoration: none;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  background-color: #0079bf;
  border: none;
  box-shadow: none;
  color: #fff;
  height: 32px;
  min-height: 32px;
  padding-bottom: 4px;
  padding-top: 4px;
}

button:hover {
  opacity: 0.8;
}

.menuIcon:hover {
  opacity: 1;
  transition: all 200ms;
  border-radius: 3px;
  border: 0.1px solid #6b778c;
}
.popupBody > ul {
  all: unset;
  list-style: none;
}
.popupBody > ul > li {
  margin: 3px;
  cursor: pointer;
}
.popupBody > ul > li:hover {
  background-color: #bbb;
  margin-left: 0px;
  width: 120%;
}

.flex-container {
  display: flex;
}

.dialog-description-view {
  width: 640px;
  height: 100px;
  background-color: #e4e7eb;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  display: block;
  min-height: 40px;
  padding: 3px;
  text-decoration: none;
}

.dialog-description-textarea {
  all: unset;
  width: 640px;
  height: 100px;
  background-color: white;
  border: 1px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #0079bf;
  display: block;
  min-height: 40px;
  padding: 3px;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

.dialog-activity-box {
  width: 620px;
  height: 30px;
  padding: 8px 12px;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 5px 2px -1px #091e4240, 0 0 0 1px #091e4214;
  margin: 4px 4px 12px 0;
  overflow: hidden;
  position: relative;
  transition: box-shadow 85ms ease;
}

.dialog-activity-textarea {
  all: unset;
  background: #fff;
  box-shadow: none;
  box-sizing: initial;
  margin: 0;
  min-height: 20px;
  max-width: 620px;
  padding: 0;
  resize: none;
  width: 100%;
  overflow: visible;
  white-space: normal;
}
